# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
out

# misc
.DS_Store
.env
.env.local
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python backend
__pycache__/
*.pyc
*.pyo
venv/
env/
.pytest_cache/

# local dev
.vscode/
.idea/
